@mixin navGradient($degree, $start-color, $end-color, $start-color-percentage, $end-color-percentage) {
  background: $start-color;
  background: linear-gradient($degree, $start-color $start-color-percentage,$end-color $end-color-percentage);
  background: -webkit-linear-gradient($degree, $start-color $start-color-percentage,$end-color $end-color-percentage);
  background: -moz-linear-gradient($degree, $start-color $start-color-percentage,$end-color $end-color-percentage);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color,GradientType=1 );
}
