@import '../common';
@import '../mixins/nav-gradient-bg';

$navGradientProps: 30deg, #363657, #42416b, 0%, 30%;
$navBrandColor   : #838997;
$navbarIconColor : #9998d0;

.navbar {
  @include navGradient($navGradientProps...);

  .md-toolbar-tools {
    position: relative;
    padding-left: 1.2em;
    padding-right: 1.2em;

    &:before {
      position: absolute;
      content: '';
      z-index: 1;
      top: 0;
      left: 14em;
      height: 100%;
      border-right: 2px solid rgba(28,30,47,.5);
    }

    h2 {
      margin-right: 6.5em;
      font-weight: $fontWeightBlack;
      color: $navBrandColor;
      text-transform: $text-uppercase;
    }

    .sidebar-menu-toggle {
      margin-right: 1.7em;
    }

    .signout-btn {
      md-icon.navbar-icon {
        min-width: 22px;
        min-height: 22px;
      }
    }

    md-icon.navbar-icon {
      min-width: 16px;
      min-height: 16px;
      width: 16px;
      height: 16px;
      fill: $navbarIconColor;
    }

    .logged-in-user {
      font-size: 1rem;
      font-weight: $fontWeightExtrabold;
      color: #a2a6b8;
    }

    .navbar-avatar {
      position: relative;
      width: 43px;
      height: 43px;
      margin-left: 1em;
      margin-right: 0.9em;
      font-weight: $fontWeightSemibold;
      text-align: center;
      color: #9998d0;
      line-height: 41px;
      border-radius: 50%;
      border: 2px solid #9998d0;
      background-color: #fff;
    }
  }
}
