<div class="login" layout="column" layout-align="center center" layout-fill>
  <md-whiteframe>
    <form layout-padding>
      <md-input-container md-no-float class="md-block">
        <input type="text" ng-model="$ctrl.username" placeholder="Username" autocomplete="off">
      </md-input-container>
      <md-input-container md-no-float class="md-block">
        <input type="password" ng-model="$ctrl.password" placeholder="Password" autocomplete="off">
      </md-input-container>
      <button type="submit" class="btn btn-default" ng-click="$ctrl.login($ctrl.username, $ctrl.password)"><span>Login</span></button>
      <!-- <a class="text-link" ui-sref="passwordReset">Forgot your password?</a> -->
    </form>
  </md-whiteframe>
</div>
