@import '../../common/mixins/input-placeholder';
@import '../../common/mixins/transition-animation';

@font-face {
  font-family: 'tribeca';
  src: url('../../assets/fonts/Tribeca.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.login {
  font-family: 'tribeca', sans-serif;
  height: 100vh;
  color: #fff;
  background: #333350;
  background: -moz-radial-gradient(center, ellipse cover, #333350 0%, #282943 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #333350 0%,#282943 100%);
  background: radial-gradient(ellipse at center, #333350 0%,#282943 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333350', endColorstr='#282943',GradientType=1 );

  md-whiteframe {
    min-width: 300px;

    md-input-container {
      margin: 0 28%;
      padding: 0;

      .md-input {
        height: auto;
        font-size: 31px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        color: #6280ce;
        text-align: center;
        border-color: rgba(255,255,255,.3);
        border-bottom-width: 1px;
        @include inputPlaceholder() {
          color: #F5F5F5;
          opacity: .2;
        }
      }
    }

    .md-input-focused .md-input {
      border-bottom-width: 1px; 
      border-color: rgba(255,255,255,.3); 
    }
  }

  header {
    margin-bottom: 1em;
    padding: .6em 0;
    border-bottom: 1px solid #42416b;
  }

  h1 {
    margin: 0;
    font-size: 21px;
  }

  .btn-default {
    position: relative;
    top: 0;
    width: 100%;
    height: 67px;
    padding: 0;
    color: #1f1f21;
    background-image: url('../../assets/game/btn-normal.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;
    outline: none;
    @include transition(all .1s ease-in-out);

    &:active { 
      top: 3px;
    
      span { margin-top: -16px; }
    }
    &:hover { background-image: url('../../assets/game/btn-hover.png'); }

    span {
      display: inline-block;
      margin-top: -15px;
      font-size: 31px;
      color: #263238;
    }
  }

}
